<nav class="navbar navbar-expand-lg bg-black fixed-top">
  <div class="container-fluid text-light">
    <a class="navbar-brand text-light fw-bold" href="/">Agenda</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-light">
          <a class="nav-link text-light opacity-50" href="/contatos">Contatos</a>
        </li>
        <li class="nav-item text-light">
          <a class="nav-link text-light opacity-50" href="/contatos/register">Novo Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <% if(!user) { %>
          <li class="nav-item text-light">
            <a class="nav-link text-light" href="/login/register">Cadastrar</a>
          </li>

          <li class="nav-item text-light">
            <a class="nav-link text-light" href="/login">Entrar</a>
          </li>
        <% } else { %>
          <li class="nav-item text-light">
            <a type="button" class="btn btn-danger" href="/logout" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Logout
            </a>
          </li>
        <% } %>

      </ul>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>